.item-confirmation {
  background-color: #FFF;
  width: 60vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px rgb(196, 196, 196);
  margin: 30px;
}

.item-confirmation-content {
  text-align: center;
}

.confirmation-text {
  font-size: 25px;
  color: red;
}

.item-confirmation-destroy {
  display: inline-block;
  font-size: 30px;
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.2em 1em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  margin: 30px;
  text-decoration: none;
}

.item-confirmation-destroy:hover {
  opacity: 0.7;
}