.item-contents>.category-title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: #000000;/*文字色*/
  padding: 0.2em 0;/*上下の余白*/
  border-top: solid 3px #83a4bb;/*上線*/
  border-bottom: solid 3px #83a4bb;/*下線*/
  margin-bottom: 50px;
}

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  background-color: #FFF;
  border: solid 1px rgb(145, 145, 145);
  margin: 10px;
}

.list>a {
  text-decoration: none;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 37vh;
  height: 37vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}

.item-user-name {
  color: #4e4e4e;
  font-size: 15px;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.item-price>span {
  font-size: 13px;
}

.item-overview {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.item-link {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(71, 71, 71);
  margin-top: 50px;
}

.item-link:hover {
  color: rgb(96, 134, 216);
}

