.comments h4 {
  text-align: center;
  padding: 30px;
}

.comment-info {
  color: rgb(150, 155, 160);
  text-align: center;
  font-size: 13px;
}

.item-content {
  align-items: center;
  background-color: rgb(248, 249, 250);
}

.chat-item-info p {
  text-align: center;
}

.item-content p {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.comment-item-img {
  width: 40vw;
  height: 40vw;
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.chat-item-info {
  width: 500px;
  margin: 0 auto;
  font-size: 15px;
  color: rgb(49, 57, 65);
}

.chat-item-content {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.container {
  height: 400px;
  padding: 40px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.item-text {
  width: 500px;
  height: 200px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  border: solid 3px #98d4f3;  
  resize: none;
  overflow: auto;
  margin-top: 20px;
  box-shadow: 2px 2px 7px rgb(209, 209, 209);
}

.send-btn {
  background-color: #98d4f3;
  width: 150px;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  border-radius: 10px;
  border: azure;
}

.send-btn:hover {
  background-color: #89c0db
}

.input-btn {
  text-align: center;
}

.comment-inner {
  margin: 20px 30px;
}

.comment-inner p {
  padding-top: 10px;

}


.comment-info {
  margin-bottom: 30px;
}

.comment-right {
  text-align: right;
}

.comment-left {
  text-align: left;
}

.chat-text-right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 500px;
  color: rgb(51, 51, 51);
  font-size: 16px;
  background: #e0edff;
  border-radius: 10px;
  word-wrap: break-word;
  text-align: left;
}

.chat-text-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.chat-text-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 500px;
  color: rgb(51, 51, 51);
  font-size: 16px;
  background: #ffecfe;
  border-radius: 10px;
  word-wrap: break-word;
}

.chat-text-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #ffecfe;
}

.comment-hooter {
  height: 50px;
  margin: 30px;
}

.buyer-info-contents {
  margin: 40px 20px;
  text-align: center;
}

.buyer-info-inner p {
  background-color: rgb(236, 236, 236);
  padding: 5px;
  border: solid 1px rgb(163, 163, 163);
  border-radius: 5px;
  color: black;
  font-size: 14px;
  width: 150px;
  display: block;
  margin: 20px auto;
}


.buyer-info-inner {
  margin: 0 auto;
  width: 250px;
}

.buyer-info-inner span {
  font-size: 12px;
  width: 100px;
}

.buyer-info-inner li {
  text-align: left;
}

.hidden {
  display: none;
}